* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;

  outline: none;
  font: inherit;
  background: transparent;
}

a, button {
  cursor: pointer;
  color: inherit;
}

.Select-value-label {
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: bold !important;
}
