.repos-list-container {
  display: flex;
}

.repos-list-filter {
  flex-shrink: 0;
  width: 250px;
  margin-right: 1rem;
}

.repos-list-list {
  flex-grow: 1;

  .RepoItem + .RepoItem {
    margin-top: 1em;
  }
}

.repos-list-filter {
  > h3 {
    margin-bottom: 1em;
  }
  > ul {
    list-style-type: none;
    font-size: 1.1rem;
    color: rgba(black, 0.4);
    > li {
      & + li {
        margin-top: 1em;
      }
    }
  }
}
