.Builder {

  .repos-graphs {
  }

  .repos-graphs--list {
    width: 500px;
    margin: 0 auto;
    padding: 1em;
  }

  .repos-graphs--view {
    margin: 1em;
  }

  .repos-selection {
    display: flex;
    flex-wrap: wrap;
  }

  .repos-selection-item {
    margin: 0 0.5rem 0.5rem 0;
    padding: 1rem;
    background: lightgray;
    cursor: pointer;
    &.is-fetching {
      background: pink;
      cursor: default;
    }
  }

}
