.Graph {
}

.graph-days-bars {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .bar {
    width: 10px;
    background: rgba(black, 0.06);
    & + .bar {
      margin-left: 2px;
    }
  }
}
