@import './reset';
@import './colors';
@import './helpers';

body {
  font-family: 'Rambla', sans-serif;
  font-weight: 300;
  font-size: 16px;

  color: rgba(black, 0.6);
}

a {
  text-decoration: none;
  color: $blue;
  border-bottom: 2px solid transparent;
  transition: 100ms border-color;

  &:hover, &:focus {
    border-color: lighten($blue, 5);
    color: lighten($blue, 5);
  }
  &:active {
    border-color: darken($blue, 5);
    color: darken($blue, 5);
  }
}

input {
  display: block;
  border: 2px solid rgba(black, 0.15);
  border-bottom-width: 3px;
  color: rgba(black, 0.4);

  &:focus {
    background: white;
    border-color: $blue;
    color: rgba(black, 0.6);
  }
}

h2 {
  margin-bottom: 2em;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  color: rgba(black, 0.4);

  strong {
    color: rgba(black, 0.6);
  }
}

hr {
  border-top: 1px dashed rgba(black, 0.15);
  margin: 2em 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0 1em;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2em 0;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }

}

.explain {

  h3 {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1rem;
  }

  & + .explain {
    margin-top: 2rem;
  }
}

.header-actions {
  padding: 1em;
  display: flex;
  justify-content: center;

  animation: 500ms ease-out slideDown;
}

@keyframes slideDown {
  0%   {
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.collection {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;

  > li {
    flex-basis: 50%;
    padding: 0.5em;
  }
}

.collection-actions {
  @extend .f;
  justify-content: center;
  margin: 2em 0;
}

.repo {
  height: 150px;
  padding: 1em;
  background: rgba(black, 0.05);
  background: white;
  background-size: cover;
}

.repo-option {
  @extend .f;

  padding: 0.5em 0;

  .name {
    @extend .f;
    flex-grow: 1;
  }
  .infos {
    flex-shrink: 0;
    color: rgba(black, 0.5);
    i {
      margin-left: 0.25em;
    }
  }
  h4 {
    font-weight: bold;
    margin-left: 0.5em;
  }
}

.credits {
  padding: 0.5em 1em;
  border-radius: 20px;
  display: inline-block;
  background: rgba(black, 0.1);
}

.search-container {
  @extend .z;
  height: 100px;
  .Select {
    width: 100%;
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  > section {
    flex-grow: 1;
  }
  > footer {
    flex-shrink: 0;
    margin-top: 5rem;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;

    strong {
      font-weight: 700;
    }
  }
}
