@import './variables';

.Messages--container {

  position: absolute;
  right: 2em;
  top: $navHeight + 20px;

  .Message {
    padding: 0.5em 1em;
    max-width: 300px;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid rgba(black, .1);
    background: white;
    & + .Message {
      margin-top: 0.2em;
    }
  }

  .Message-info {
    border-left-color: blue;
  }

  .Message-error {
    border-left-color: red;
  }

  .Message-warning {
    border-left-color: yellow;
  }

}
