@import './helpers';

.repo-header {
  @extend .f;
  margin-bottom: 1em;
  padding: 2em;

  .back {
    margin-right: 2em;
  }

  .repo-name {
    font-weight: 700;
    font-size: 1.2em;
  }

}

.graphs-container {

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .graph {
    flex: 1;
    margin: 1em;
  }

}

.graph-stars-evolution {
  path.line {
    fill: none;
    stroke: #53aee2;
    stroke-width: 1;
  }

  path.area {
    fill: #cfddf0;
  }

  .axis {
    shape-rendering: crispEdges;

    text {
      stroke: none;
      fill: #888;
      font-size:14px;
    }
  }

  .x.axis path {
    display: none;
  }

  .y.axis path, .y.axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    stroke-opacity: 0.06;
  }
}
